@import "./base/**";
// mixin
@import "./mixin/**";
// header, footer, ボタンなどの部品
@import "./modules/**";
// 全ページ共通の内容
// @import './main';
// サンプル
// @import './sample';
// 各ページ
@import "./pages/**";

.container {
  width: 80%;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: flex-end;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: -4%;
}
ul {
  display: flex;
  a {
    text-decoration: none;
    color: black;
  }

  li {
    padding: 0 10px;
    font-weight: bold;
  }
}
main {
  p {
    margin: 30px;
    font-size: 20px;
  }
  br {
    display: none;
  }
}
.all {
  width: 100%;
  height: auto;
  position: relative;
}
.pc {
  display: block !important;
}
.sp {
  display: none !important;
}
.main-img {
  width: 90%;
  display: block;
  margin: 0 auto;
  z-index: 50;
}
.left-img {
  width: 20%;
  z-index: 100;
  position: absolute;
  top: -23%;
  left: 0.5%;
}
.right-img {
  z-index: 100;
  width: 40%;
  position: absolute;
  right: 0.2%;
  top: 56%;
}

section {
  width: 100%;
  //   height: 130vh;
  margin-top: 100px;
}

.section-theme {
  width: 100%;
  height: 50px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 50px;
}

.section-main {
  width: 100%;
  //   height: 700px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.sec-box {
  width: 333px;
  height: 425px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  h2 {
    padding-left: 20px;
  }
}

.sec-box:hover {
  box-shadow: 0 0 8px lightgray;
}

.secbox-img {
  width: 100%;
  height: 225px;
}

.sb-img {
  width: 100%;
}

.secbox-article {
  width: 100%;
  height: 200px;
  font-family: serif;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.sa-bottom {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: flex-end;
  margin-left: -20px;
}

.sa-bottom a:visited {
  color: black;
}

.underline {
  display: inline-block;
  padding-bottom: 15px;
  position: relative;
}

.underline::after {
  background-color: black;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  right: 0;
  position: absolute;
  transition: 0.5s all;
  width: 15%;
}

.underline:hover::after {
  width: 100%;
}

footer {
  background-color: black;
  p {
    color: white;
    text-align: center;
    height: 100px;
  }
}
@media screen and (max-width: 767px) {
  .pc {
    display: none !important;
  }
  .sp {
    display: block !important;
    margin-left: -13%;
    
  }
 
  li {
    display: none;
  }
  .left-img {
    width: 30%;
    z-index: 100;
    position: absolute;
    top: -37%;
    left: 37%;
  }
  .right-img {
    z-index: 100;
    width: 80%;
    position: absolute;
    left: 3%;
    top: 5%;
  }
 header {
   height: 170px;
 }
 main p {
  text-align: center;
  line-height: normal;
 }
 main br {
   display: inline;
 }
 

}
