@import './base/**';
// mixin
@import './mixin/**';
// header, footer, ボタンなどの部品
@import './modules/**';
// 全ページ共通の内容
// @import './main';
// サンプル
// @import './sample';
// 各ページ
@import './pages/**';

.container {
    width: 1152px;
    margin: 0 auto;
}
header {
    margin-right: 190px;
}
nav {
    display: flex;
    justify-content: flex-end;
    margin:30px;
}
ul {
    display: flex;

    li {
        padding: 0 10px;
        font-weight: bold;
    }
}
main {
    p {
        margin-top:10px;
        margin-left: -50px;
        font-size: 20px;
        font-weight: bold;

    }
}
.main-img {
    z-index: 50;
    position: relative;

}
.left-img {
    z-index: 100;
    position: absolute;
    top: 10px;
    left: 100px;
}
.right-img {
    z-index: 100;
    position: absolute;
    right: 254px;
    top:312px; 
}
footer {
    background-color: black;
    p {
        color: white;
        text-align: center;
        height: 100px;
    }
}



