@import "./base/**";
// mixin
@import "./mixin/**";
// header, footer, ボタンなどの部品
@import "./modules/**";
// 全ページ共通の内容
// @import './main';
// サンプル
// @import './sample';
// 各ページ
@import "./pages/**";

.container {
  width: 1152px;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: flex-end;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: -20px;
}
ul {
  display: flex;
  a {
    text-decoration: none;
    color: black;
  }

  li {
    padding: 0 10px;
    font-weight: bold;
  }
}
main {
  p {
    margin: 30px;
    font-size: 20px;
  }
}
.main-img {
  display: block;
  margin: 0 auto;
  z-index: 50;
  position: relative;
}
.left-img {
  z-index: 100;
  position: absolute;
  top: 30px;
  left: 170px;
}
.right-img {
  z-index: 100;
  position: absolute;
  right: 187px;
  top: 352px;
}

section {
  width: 1152px;
  height: 130vh;
  margin-top: 100px;
}

.section-theme {
  width: 100%;
  height: 50px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 50px;
}

.section-main {
  width: 100%;
  height: 700px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.sec-box {
  width: 30%;
  height: 425px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.sec-box:hover {
  box-shadow: 5px 5px 1px lightgray;
}

.secbox-img {
  width: 100%;
  height: 225px;
}

.sb-img {
  width: 100%;
}

.secbox-article {
  width: 100%;
  height: 200px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.sa-bottom {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  // border-bottom: solid 1px black;
}

footer {
  background-color: black;
  p {
    color: white;
    text-align: center;
    height: 100px;
  }
}
